.product_list_title {
  font-size: 24px;
  font-weight: 500;
}

.product_action {
  margin: 16px 0;
}

.filter_selection,
.sort_selection {
  margin-bottom: 8px;
  font-size: 18px;
}

.product_list {
  margin: 16px 0;
}

.item_name {
  font-size: 15px;
  text-overflow: ellipsis;
}

.item_price {
  font-size: 16px;
}

.card-footer {
  background-color: #fff !important;
}

.item_link_btn {
  background-color: var(--main-color);
  outline: none;
}

.item_link_btn:hover {
  background-color: var(--main-color);
}

.item_link_btn:active {
  background-color: var(--main-color) !important;
  top: 2px;
}

.btn_wrapper {
  gap: 20px;
}
