.remove_btn:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.pay_btn {
  padding: 4px 8px;
  background-color: var(--main-color);
  border-radius: 8px;
}

.quantity_input {
  width: 70px !important;
  flex: 0 0 auto !important;
}

.link_to_product {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

@media (max-width: 576px) {
  .link_to_product {
    width: 100px;
  }
}
