.product_container {
    padding: 16px 0;
    width: 1200px;
}

.product_wrapper {
    display: flex;
    align-items: center;
    gap: 52px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px 8px
}

.info_name {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
}

.info_price {
    font-size: 20px;
    margin-bottom: 24px;
}

.info_quantity {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.info_btn {
    margin-bottom: 24px;
}

.info_description {
    font-size: 18px;
}

.product_image {
    width: 370px;
}

.addToCart_btn {
    background-color: var(--main-color);
    border: none;
    outline: none;
}

.addToCart_btn:hover {
    background-color: var(--main-color);
}

.input-group {
    display: flex;
    align-items: center;
    width: 150px;
}

#quantity_input {
    width: 50px !important;
    text-align: center;
}

.input_label {
    margin-right: 12px;
    font-size: 18px;
}

.product_description {
    background-color: #fff;
    margin-top: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 16px 8px;
}

.description_title {
    margin-bottom: 16px;
}

.description_content {
    font-size: 16px;
}


.product_related {
    position: relative;
}

.product_related_title {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

.product_related_link {
    position: absolute;
    top: 0;
    right: 0;
}

.all_link {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.all_link:hover {
    color: var(--main-color);
}



.product_list {
    margin: 16px 0;
    display: grid;
    grid-template-columns: repeat(5, 224px);
    gap: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_name {
    font-size: 15px; 
    text-overflow: ellipsis;
}

.item_image {
    width: 222px;
}

.item_price {
    font-size: 16px;
}

.card-footer {
    background-color: #fff !important;
    border: none;
}

.item_link_btn {
    background-color: var(--main-color);
    outline: none;
    border: none;
    position: relative;
}

.item_link_btn:hover {
    background-color: var(--main-color);
}

.item_link_btn:active {
    background-color: var(--main-color) !important;
    top: 2px;
}