* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(221, 61, 61);
}

.footer {
  background-color: #fff;
  border-top: 1px solid #ccc;
  box-shadow: 1px 1px 10px 2px #ccc;
}

.footer * {
  color: #000 !important;
}

.link a:hover {
  text-decoration: underline !important;
  color: var(--main-color) !important ;
}

.link {
  padding: 2px 0;
}

@media only screen and (max-width: 992px) {
  .footer {
    position: relative !important;
  }
}
