* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(221, 61, 61);
}

.footer {
    clear: both;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}