* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(221, 61, 61);
}

.header {
  background-color: var(--main-color);
  height: 50px;
}

.header_link {
  height: 40px;
  font-size: 28px;
}

.user_link,
.categories {
  gap: 8px;
  border: 1px solid #fff;
  padding: 7px 8px;
  border-radius: 4px;
}

.user:hover,
.categories:hover {
  background: hsla(0, 0%, 100%, 0.2);
}

.category_icon {
  margin-top: -2px;
}

.search_input {
  outline: none;
  padding: 8px 12px;
  width: 560px;
  border-radius: 4px;
}

.search_icon {
  right: 10px;
  top: 6px;
}

.cart {
  border-radius: 4px;
}

.cart_link {
  gap: 8px;
  padding: 7px 8px;
  border-radius: 4px;
}

.cart:hover {
  background: hsla(0, 0%, 100%, 0.2);
}

.toggle_list {
  background-color: var(--main-color);
}

.toggle_item {
  cursor: pointer;
}

.toggle_item:not(:first-child):hover {
  background: hsla(0, 0%, 100%, 0.2);
}

@media only screen and (max-width: 575px) {
  .header_link {
    font-size: 18px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header_link {
    font-size: 18px;
    line-height: 40px;
  }

  .search_input {
    width: 170px;
  }

  .user_text,
  .cart_link_text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header_link {
    font-size: 18px;
    line-height: 40px;
  }

  .search_input {
    width: 150px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_link {
    font-size: 20px;
    line-height: 40px;
  }

  .search_input {
    width: 200px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .search_input {
    width: 250px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .search_input {
    width: 400px;
  }
}
