* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(221, 61, 61);
}

.header {
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container {
    width: 1200px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_link {
    display: block;
    height: 40px;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    text-decoration: none;
}