body {
  min-height: 300vh;
  position: relative;
  scroll-behavior: smooth;
}

.product_list {
  margin: 16px 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_name {
  font-size: 15px;
  text-overflow: ellipsis;
}

.item_price {
  font-size: 16px;
}

.card-footer {
  background-color: #fff !important;
  border: none;
}

.item_link_btn {
  background-color: var(--main-color);
  outline: none;
  border: none;
  position: relative;
}

.item_link_btn:hover {
  background-color: var(--main-color);
}

.item_link_btn:active {
  background-color: var(--main-color) !important;
  top: 2px;
}

.product_sample {
  position: relative;
}

.product_sample_title {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

.product_sample_link {
  position: absolute;
  top: 0;
  right: 0;
}

.all_link {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.all_link:hover {
  color: var(--main-color);
}

.categories_modal {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 12px;
  left: 329px;
  z-index: 1;
  width: 1200px;
}
